@import "./tailwind.css";
@import "./variable.css";

* {
  box-sizing: border-box;
}

html {
  /* 62.5% of 16px browser font size is 10px */
  /* 16px * 0.625 = 10px */
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
}
